<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>India Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="ng-youtube-embed-iframe/dist/ng-youtube.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
</head>

<body>


    <!-- <iframe width="1000px" height="800px" style="float:right;" src="" name="iframe_a">
        <p>Your browser does not support iframes.</p>
        </iframe> -->

    <div id="dataList" class="float-left">
        <ul id="ul_dataList">
            <li *ngFor="let city of DataArray">
                <h4 id="li_dataList" (click)="cityData($event)" class="nav-link ">{{city.title}}</h4>

            </li>
        </ul>
    </div>

    <div id="placeDiv" class="container rounded float-right">
        <img id="frameImg" width="100%" height="200px" src="{{DataArray[0].imageUrl}}" alt="">

        <br>
        <div style="padding:10px;">
            <p id="frameTitle" class="text-left float-center"><b>{{DataArray[0].bio}}</b></p>
            <p id="framePara" class="text-left ">{{DataArray[0].description}}</p>
        </div>
    </div>

    <div class="container">


        <div id="mapDiv">
            <div class="form-group">
                <!-- <input type="input" class="form-control" list="indiaPlaces" />
                <datalist id="indiaPlaces" [(ngModel)]="selectedPlace" (ngModelChange)="performClick($event)">
                    <option *ngFor="let c of DataArray" [ngValue]="c"> {{c.title}} </option>
                </datalist> -->
                <div class="ui-widget">
                    <label>Your preferred programming language: </label>
                    <select id="combobox">
                      <option value="">Select one...</option>
                      <option value="ActionScript">ActionScript</option>
                      <option value="AppleScript">AppleScript</option>
                      <option value="Asp">Asp</option>
                      <option value="BASIC">BASIC</option>
                      <option value="C">C</option>
                      <option value="C++">C++</option>
                      <option value="Clojure">Clojure</option>
                      <option value="COBOL">COBOL</option>
                      <option value="ColdFusion">ColdFusion</option>
                      <option value="Erlang">Erlang</option>
                      <option value="Fortran">Fortran</option>
                      <option value="Groovy">Groovy</option>
                      <option value="Haskell">Haskell</option>
                      <option value="Java">Java</option>
                      <option value="JavaScript">JavaScript</option>
                      <option value="Lisp">Lisp</option>
                      <option value="Perl">Perl</option>
                      <option value="PHP">PHP</option>
                      <option value="Python">Python</option>
                      <option value="Ruby">Ruby</option>
                      <option value="Scala">Scala</option>
                      <option value="Scheme">Scheme</option>
                    </select>
                </div>
                <button id="toggle">Show underlying select</button>

            </div>

            <!-- <div class="form-group">
                <input placeholder="search for location" autocorrect="on" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
            </div> -->
            <agm-map (mapClick)="placeMarker($event)" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom">

                <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
            </agm-map>
        </div>

        <!-- This div will hold playlist + youtube player -->
        <div id="ytDiv">
            <!-- <a href="https://www.youtube.com/{{city}}">{{DataArray[i].title}}-{{i}}</a> -->

            <div *ngIf='isClicked' id="ytLinks" class="float-left">
                <ul>
                    <li *ngFor="let city of this.result.links.split(','); let i = index">
                        <h4 (click)="changeId(city)" class="nav-link">{{this.result.title}}-{{i}}</h4>
                    </li>
                </ul>
            </div>
            <!-- yt player -->
            <div id="youtubeDiv ">
                <div>
                    <section class="panel ">
                        <!-- <div class="panel-heading ">Angular 4 Youtube Player Component</div> -->
                        <div class="panel-body ">
                            <youtube-player [videoId]="id" [width]="width" [height]="height" (ready)="savePlayer($event) " (change)="onStateChange($event) ">
                            </youtube-player>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>



    <!-- <table class="table ">    <thead>
        <tr>
          <th>id</th>
          <th>Title</th>
          <th>Bio</th>
          <th>Description</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
      </thead>


       <tr *ngFor="let data of DataArray; let i=i ndex ">
          <th scope="row ">{{i+1}}</th>
        <td>{{ data.title }}</td>
        <td>{{ data.bio }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.latitude }}</td>
        <td>{{ data.longitude }}</td>
      </tr>

    </table> -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js " integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n " crossorigin="anonymous "></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js " integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js " integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn " crossorigin="anonymous "></script>

</body>

</html>