#placeDiv {
    display: none;
    border: 2px solid gray;
    margin: 30px;
    padding: 15px;
    width: 70%;
}

div#dataList ul {
    height: 900px;
    width: 25%;
}

div#dataList ul {
    overflow: hidden;
    overflow-y: scroll;
}

div#ytLinks {
    width: 40%;
}

#ytDiv {
    /* display: none; */
    border: 2px solid gray;
    margin: 30px;
    padding: 15px;
    width: 70%;
}

div#ytLinks ul {
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#ytLinks ul {
    overflow: hidden;
    overflow-y: scroll;
}

#frameTitle {
    font-weight: bold;
}

#mapDiv {
    margin-right: 100px;
    padding: 15px;
}


/*
 #youtubeDiv{
      margin-right: 40px;
      padding: 10px;
      width: 60%;
    }  */

agm-map {
    height: 300px;
}