
#placeDiv{
    display: none;
    border:2px solid gray; margin:30px; padding: 15px;
    width: 70%;
}


div ul{height: 900px; width: 25%;}
div ul{overflow:hidden; overflow-y:scroll;}

#frameTitle{
    font-weight: bold;    
}

#mapDiv{
    margin-right: 100px;
    padding: 15px;
  }

 #youtubeDiv{
      margin-right: 100px; 
    
    } 



agm-map {
    height: 300px;
  }

